<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="7zip" value="P:\HyperSpin\7z.exe"/>
    <add key="HyperSpinDB_Path" value="C:\Temp\HyperSpin\Databases\"/>
    <add key ="ROM_Directory" value="C:\Temp\HyperSpin\ROMS\"/>
  </appSettings>
</configuration>